<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>FlashDecks</h5>
                <p>&copy; 2026 FlashDecks. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled d-flex justify-content-end gap-3">
                    <li><a href="/" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="/decks" class="text-light text-decoration-none">Decks</a></li>
                    <li><a href="#" class="text-light text-decoration-none">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
